doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Scratch - Digital Agency
    link(rel='stylesheet', href='static/css/fonts.css')
    link(rel='stylesheet', href='static/dist/index.css')
  body
    main#app
      header.hero
        img.hero__logo(src='static/img/scratch-white.svg', alt='Scratch logo')

        .flex
          h1
            | We build products that are&nbsp;
            span.underline.underline--jagged bold&nbsp;
            | & make an&nbsp;
            span.underline.underline--straight impact

        span.hero__arrow

      section.about
        .about__header

        .about__container
          article.about__box
            img(src='static/img/code.svg', alt='Coding icon')
            p.
              Using modern software engineering
              practices, websites & apps are
              built to the highest standard available.
          article.about__box
            img(src='static/img/pen.svg', alt='Pen icon')
            p.
              Design is at the forefront of
              everything we do. Impeccably
              designed interfaces that leave an impression.

      section.contact
        h2 Call me maybe

      footer
        img(src='static/img/scratch-white.svg', alt='Scratch logo')
    script(src='static/dist/index.js')

