doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Scratch - Digital Agency
    link(rel='stylesheet', href='static/css/fonts.css')
    link(rel='stylesheet', href='dist/index.css')
  body
    main#app
      header.hero
        img.hero__logo(src='static/img/scratch-white.svg', alt='Scratch logo')

        .flex
          h1
            | We build products that speak 
            span.underline.underline--jagged loudly 
            | & with 
            span.underline.underline--straight impact

        span.hero__arrow

      section.about
        header.about__header
          h2 How it's done

        .about__container
          article.about__box
            img(src='static/img/code.svg', alt='Coding icon')
            p.
              Apps & websites built to the
              highest standard, with modern
              software engineering practices.
          article.about__box
            img(src='static/img/pen.svg', alt='Pen icon')
            p.
              Design is at the forefront of
              everything we do. Impeccably
              designed interfaces that leave an impression.

      section.contact
        h2 Call me maybe

      footer
        span logo
    script(src='dist/index.js')

