doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='theme-color', content='#00d6be')
    title Scratch - Digital Agency
    link(rel='stylesheet', href='static/css/fonts.css')
    link(rel='stylesheet', href='static/dist/index.css')
  body
    main#app
      header.hero
        img.hero__logo(src='static/img/scratch-white.svg', alt='Scratch logo')

        .flex
          h1
            | We build products that are&nbsp;
            span.underline.underline--jagged bold&nbsp;
            | & make an&nbsp;
            span.underline.underline--straight impact

        span.hero__arrow

      section.about
        h2.about__header

        .about__container
          article.about__box.code
            img(src='static/img/code.svg', alt='Coding icon')
            p.
              Using modern software engineering
              practices, websites & apps are
              built to the highest standard available.
          article.about__box.art
            img(src='static/img/pen.svg', alt='Pen icon')
            p.
              Design is at the forefront of
              everything we do. Impeccably
              designed interfaces that leave an impression.

      section.contact
        h2.contact__item
        p.contact__item
          | Intrigued? Ring Yashodhan on&nbsp;
          a(href='tel:+918284060258') +91 828 406 0258
          | , or send an 
          a(href='mailto:yoshtalwar@gmail.com') email.

      footer
        img(src='static/img/scratch-white.svg', alt='Scratch logo')
    script(src='static/dist/index.js')

