doctype html
html(lang='en')
  head
    //- Meta
    meta(charset='utf-8')
    meta(name='theme-color', content='#00d6be')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Scratch is a smart digital agency based in India, walking the line between code & art.')
    meta(property='og:title', content='Scratch - Digital Agency')
    meta(property='og:image', content='static/img/og-image.png')
    meta(property='og:site_name', content='Scratch - Digital Agency')
    meta(property='og:description', content='Scratch is a smart digital agency based in India, walking the line between code & art')

    title Scratch - Digital Agency

    //- CSS
    link(rel='stylesheet', href='static/css/fonts.css')
    link(rel='stylesheet', href='static/dist/index.css')

    //- Icons
    link(rel='apple-touch-icon-precomposed', sizes='57x57', href='static/img/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='static/img/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='static/img/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='static/img/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon-precomposed', sizes='60x60', href='static/img/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='static/img/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon-precomposed', sizes='76x76', href='static/img/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='static/img/apple-touch-icon-152x152.png')
    link(rel='icon', type='image/png', href='static/img/favicon-196x196.png', sizes='196x196')
    link(rel='icon', type='image/png', href='static/img/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='static/img/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='static/img/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='static/img/favicon-128.png', sizes='128x128')
    meta(name='application-name', content='Scratch - Digital Agency')

  body
    main#app
      header.hero
        img.hero__logo(src='static/img/scratch-white.svg', alt='Scratch logo')

        .flex
          h1
            | We build products that are&nbsp;
            span.underline.underline--jagged bold&nbsp;
            | & make an&nbsp;
            span.underline.underline--straight impact

        span.hero__arrow

      section.about
        h2.about__header

        .about__container.flex
          article.about__box.code
            img(src='static/img/code.svg', alt='Coding icon')
            p.
              Using modern software engineering
              practices, websites & apps are
              built to the highest standard available.
          article.about__box.art
            img(src='static/img/pen.svg', alt='Pen icon')
            p.
              Design is at the forefront of
              everything we do. Impeccably
              designed interfaces that leave an impression.

      section.contact.flex
        h2.contact__item
        p.contact__item
          | Intrigued? Ring Yashodhan on&nbsp;
          a(href='tel:+918284060258') +91 828 406 0258
          | , or send an 
          a(href='mailto:yoshtalwar@gmail.com') email.

      footer
        img(src='static/img/scratch-white.svg', alt='Scratch logo')
    script(src='static/dist/index.js')

