:root {
  --fontFamily: 'League Spartan', 'Helvetica Neue', sans-serif;
  --fontSizeBase: 1rem;
  --fontSizeH1: 2.75rem;
  --colorBg: #00d6be;
  --colorBodyText: #333;
  --colorYellow: #e1ff19;
  --easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@custom-media --viewport-big (width >= 1400px);
@custom-media --viewport-small (width <= 720px);
@custom-media --viewport-mini (width <= 500px);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--colorBg);
  color: var(--colorYellow);
}

::selection {
  background-color: var(--colorBg);
  color: var(--colorYellow);
}

body {
  font-family: var(--fontFamily);
  font-size: var(--fontSizeBase);
  min-height: 100vh;
  background-color: var(--colorBg);
  -webkit-font-smoothing: antialiased;
}

/* Helpers */
.flex {
  display: flex;
}

/* App */
#app {
  padding-top: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: all .5s linear;
}

#app.visible {
  visibility: visible;
  opacity: 1;
  transition-delay: 1s;
}

/* Animations */
@keyframes heroH1Enter {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes drkatz {
  from { background-position: center 0px; }
  to { background-position: center -80px; }
}

/* Hero */
.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('../img/header.jpg') center no-repeat;
  background-size: cover;
  z-index: -1;
}

.hero .flex {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  max-width: 700px;
  font-size: var(--fontSizeH1);
  text-align: center;
  color: white;
}

.visible .hero h1 {
  animation: 1s var(--easeOutQuad) 1s 1 heroH1Enter;
}

.hero h1 span {
  position: relative;
}

.hero h1 span::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  height: 40px;
  background-position: center 0;
  background-repeat: no-repeat;
  animation: drkatz .25s steps(2) infinite;
  transition: none;
}

.hero .underline--jagged::after {
  left: -4px;
  width: 120px;
  background-image: url('../img/underline-jagged.svg')
}

.hero .underline--straight::after {
  left: -8px;
  width: 170px;
  background-image: url('../img/underline-straight.svg')
}

.hero__logo {
  position: absolute;
  top: 3em;
  left: 3em;
  width: 165px;
}

.hero__arrow {
  position: absolute;
  bottom: 3em;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  background: url('../img/arrow.svg') center 0 no-repeat;
  animation: drkatz .25s steps(2) infinite;
}

@media(--viewport-big) {
  .hero h1 {
    font-size: 4em;
    max-width: 1000px;
  }

  .hero h1 span::after {
    transform: scale(1.5);
    left: 20px !important;
  }

}

@media(--viewport-small) {
  .hero h1 {
    line-height: 1.75em;
    padding: 0 1em;
  }
}

@media(--viewport-mini) {
  .hero__logo {
    top: 1.5em;
    left: 50%;
    width: 125px;
    margin-left: -62.5px;
  }

  .hero h1 {
    font-size: calc(var(--fontSizeH1) * .7);
  }

  .hero h1 span::after {
    transform: scale(.7)
  }

  .hero .underline--jagged::after {
    left: -21px;
  }

  .hero .underline--straight::after {
    left: -31px;
  }
}

/* Sections */
section {
  background-color: white;
}

section h2 {
  position: relative;
  height: 40px;
}

section h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  height: 40px;
  margin-left: -50px;
  background-position: center 0;
  background-repeat: no-repeat;
  animation: drkatz .25s steps(2) infinite;
  transition: none;
  transform: scale(3);
}

section p {
  line-height: 1.75em;
}

/* About */
.about {
  padding: 6em 4em;
}

.about__container {
  justify-content: space-around;
  align-items: space-around;
}

.about__header {
  margin-bottom: 2em;
}

.about__header::after {
  background-image: url('../img/how.svg');
}

.about__header h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: .8rem;
  color: var(--colorBg);
}

.about__box {
  width: 40%;
  max-width: 350px;
  text-align: center;
}

.about__box img {
  width: 100px;
  margin-bottom: .5em;
}

.about__box p {
  color: var(--colorBodyText);
}

@media (--viewport-small) {
  .about {
    padding: 6em 1em;
  }
}

@media (--viewport-mini) {
  .about__container {
    flex-direction: column;
    align-items: center;
  }
  .about__box {
    width: 100%;
  }
  .about__box.code {
    margin-bottom: 1em;
  }
}


/* Contact */
.contact {
  padding: 4em 0;
  background-color: var(--colorBg);
  justify-content: center;
  align-items: center;
}

.contact__item {
  width: 300px;
  margin: 0 1em;
}

.contact h2::after {
  background-image: url('../img/call.svg');
}

.contact p {
  padding-right: 4em;
  color: white;
}

.contact p a {
  text-decoration: none;
  color: var(--colorYellow);
}

@media(--viewport-small) {
  .contact p {
    padding-right: 0;
  }
}

@media(--viewport-mini) {
  .contact {
    flex-direction: column;
  }

  .contact h2 {
    margin-bottom: 1em;
  }
}

/* Footer */
footer {
  padding: 2em 1em;
  background-color: var(--colorBodyText);
}

footer img {
  display: block;
  width: 125px;
  margin: 0 auto;
}
